- clients.each do |client_hash|
  - client = client_hash[:client]
  %tr
    %td= client.display_age
    %td= client.gender.try(&:titleize)
    %td= client.status
    %td= client.province_name
    %td= client.district_name
    %td.text-center
      = client_hash[:enrollment_count]
    %td.text-center
      .tooltip-demo.text-center
        = link_to '#!', {'data-container' => 'body', 'data-content' => "<div>#{all_csi_assessment_lists(client_hash[:scores])}</div>", 'data-original-title' => t('datagrid.columns.clients.total'), 'data-placement' => 'top', 'data-toggle' => 'popover', title: '', type: 'button', 'data-html' => 'true' } do
          %span.btn.btn-info.btn-xs
            = "#{t('datagrid.columns.clients.total')}:"
            = client_hash[:assessment_count]
    = domain_cell_data(client_hash[:domain_scores])

- Organization.switch_to('public')
