- if params[:columns].nil? || params[:columns][:slug]  == '1'
  %th.name
    = t('.slug')
    .pull-right
      = render 'custom_table/order', column: :slug
- if params[:columns].nil? || params[:columns][:ngo]  == '1'
  %th.ngo
    = t('.ngo')
- if params[:columns].nil? || params[:columns][:code]  == '1'
  %th.code
    = t('.code')
- if params[:columns].nil? || params[:columns][:given_name]  == '1'
  %th.given_name
    = t('.given_name')
    .pull-right
      = render 'custom_table/order', column: :given_name
- if params[:columns].nil? || params[:columns][:family_name]  == '1'
  %th.family_name
    = t('.family_name')
    .pull-right
      = render 'custom_table/order', column: :family_name
- if params[:columns].nil? || params[:columns][:local_given_name]  == '1'
  %th.given_name
    = t('.local_given_name')
    .pull-right
      = render 'custom_table/order', column: :local_given_name
- if params[:columns].nil? || params[:columns][:local_family_name]  == '1'
  %th.family_name
    = t('.local_family_name')
    .pull-right
      = render 'custom_table/order', column: :local_family_name
- if params[:columns].nil? || params[:columns][:gender]  == '1'
  %th.family_name
    = t('.gender')
    .pull-right
      = render 'custom_table/order', column: :gender
- if params[:columns].nil? || params[:columns][:date_of_birth]  == '1'
  %th.date_of_birth
    = t('.date_of_birth')
    .pull-right
      = render 'custom_table/order', column: :date_of_birth
- if params[:columns].nil? || params[:columns][:age]  == '1'
  %th.age_as_years
    = t('.age')
    .pull-right
      = render 'custom_table/order', column: :age_as_years
- if params[:columns].nil? || params[:columns][:house_number]  == '1'
  %th.house_number
    = t('.house_number')
    .pull-right
      = render 'custom_table/order', column: :house_number
- if params[:columns].nil? || params[:columns][:strret_number]  == '1'
  %th.street_number
    = t('.street_number')
    .pull-right
      = render 'custom_table/order', column: :street_number
- if params[:columns].nil? || params[:columns][:village]  == '1'
  %th.village
    = t('.Village')
    .pull-right
      = render 'custom_table/order', column: :village
- if params[:columns].nil? || params[:columns][:commune]  == '1'
  %th.commune
    = t('.commune')
    .pull-right
      = render 'custom_table/order', column: :commune
- if params[:columns].nil? || params[:columns][:district]  == '1'
  %th.district
    = t('.district')
    .pull-right
      = render 'custom_table/order', column: :district
- if params[:columns].nil? || params[:columns][:current_province]  == '1'
  %th.birth_province
    = t('.current_province')
- if params[:columns].nil? || params[:columns][:gov_city]  == '1'
  %th.gov_city
    = t('.gov_city')
- if params[:columns].nil? || params[:columns][:gov_district]  == '1'
  %th.gov_district
    = t('.gov_district')
- if params[:columns].nil? || params[:columns][:gov_commune]  == '1'
  %th.gov_commune
    = t('.gov_commune')
- if params[:columns].nil? || params[:columns][:gov_date]  == '1'
  %th.gov_date
    = t('.gov_date')
- if params[:columns].nil? || params[:columns][:gov_village_code]  == '1'
  %th.gov_village_code
    = t('.gov_village_code')
- if params[:columns].nil? || params[:columns][:gov_client_code]  == '1'
  %th.gov_client_code
    = t('.gov_client_code')
- if params[:columns].nil? || params[:columns][:gov_interview_village]  == '1'
  %th.gov_client_code
    = t('.gov_interview_village')
- if params[:columns].nil? || params[:columns][:gov_interview_commune]  == '1'
  %th.gov_client_code
    = t('.gov_interview_commune')
- if params[:columns].nil? || params[:columns][:gov_interview_district]  == '1'
  %th.gov_client_code
    = t('.gov_interview_district')
- if params[:columns].nil? || params[:columns][:gov_interview_city]  == '1'
  %th.gov_client_code
    = t('.gov_interview_city')
- if params[:columns].nil? || params[:columns][:interviewees_place_of_interview]  == '1'
  %th.gov_client_code
    = t('.interviewees_place_of_interview')
- if params[:columns].nil? || params[:columns][:gov_caseworker_name]  == '1'
  %th.gov_client_code
    = t('.gov_caseworker_name')
- if params[:columns].nil? || params[:columns][:gov_caseworker_phone]  == '1'
  %th.gov_client_code
    = t('.gov_caseworker_phone')
- if params[:columns].nil? || params[:columns][:gov_carer_name]  == '1'
  %th.gov_client_code
    = t('.gov_carer_name')
- if params[:columns].nil? || params[:columns][:gov_carer_relationship]  == '1'
  %th.gov_client_code
    = t('.gov_carer_relationship')
- if params[:columns].nil? || params[:columns][:gov_carer_home]  == '1'
  %th.gov_client_code
    = t('.gov_carer_home')
- if params[:columns].nil? || params[:columns][:gov_carer_street]  == '1'
  %th.gov_client_code
    = t('.gov_carer_street')
- if params[:columns].nil? || params[:columns][:gov_carer_village]  == '1'
  %th.gov_client_code
    = t('.gov_carer_village')
- if params[:columns].nil? || params[:columns][:gov_carer_commune]  == '1'
  %th.gov_client_code
    = t('.gov_carer_commune')
- if params[:columns].nil? || params[:columns][:gov_carer_district]  == '1'
  %th.gov_client_code
    = t('.gov_carer_district')
- if params[:columns].nil? || params[:columns][:gov_carer_city]  == '1'
  %th.gov_client_code
    = t('.gov_carer_city')
- if params[:columns].nil? || params[:columns][:gov_carer_phone]  == '1'
  %th.gov_client_code
    = t('.gov_carer_phone')
- if params[:columns].nil? || params[:columns][:gov_information_source]  == '1'
  %th.gov_client_code
    = t('.gov_information_source')
- if params[:columns].nil? || params[:columns][:client_types]  == '1'
  %th.gov_client_code
    = t('.client_types')
- if params[:columns].nil? || params[:columns][:gov_referral_reason]  == '1'
  %th.gov_referral_reason
    = t('.gov_referral_reason')
- if params[:columns].nil? || params[:columns][:gov_guardian_comment]  == '1'
  %th.gov_guardian_comment
    = t('.gov_guardian_comment')
- @client_needs.each do |need|
  - if params[:columns].nil? || params[:columns]["need_#{need.id}"]  == '1'
    %th.need
      ="#{need.name}"
- @client_problems.each do |problem|
  - if params[:columns].nil? || params[:columns]["problem_#{problem.id}"]  == '1'
    %th.problem
      ="#{problem.name}"
- if params[:columns].nil? || params[:columns][:caseworker_comment]  == '1'
  %th.gov_caseworker_comment
    = t('.caseworker_comment')
