- clients.each do |client|
  - Organization.switch_to(client.slug.split('-').first)
  %tr
    - if params[:columns].nil? || params[:columns][:age] == '1'
      %td= client.age_as_years
    - if params[:columns].nil? || params[:columns][:gender] == '1'
      %td= client.gender.try(:titleize)
    - if params[:columns].nil? || params[:columns][:status] == '1'
      %td= client.status
    - if params[:columns].nil? || params[:columns][:number_active_program] == '1'
      %td.text-center
        / %span.btn.btn-info.btn-xs
        /   = "#{t('datagrid.columns.clients.total')}:"
        = client.enrollment_count
    - if params[:columns].nil? || params[:columns][:all_csi_assessments] == '1'
      %td.text-center
        / %span.btn.btn-info.btn-xs
        /  = "#{t('datagrid.columns.clients.total')}:"
        = client.assessment_count
    - if params[:columns].nil? || params[:columns][:district] == '1'
      %td= client.district_name
    - if params[:columns].nil? || params[:columns][:current_province] == '1'
      %td= client.province_name
