.ibox-content.client-search-form.collapse#client-search-form
  = form_tag clients_path, method: 'get' do
    .row
      .datagrid-filter.filter.form-group.col-xs-12.col-sm-6.col-lg-4
        %label= t('.given_name')
        = text_field_tag :given_name, params[:given_name], class: 'form-control'
      .datagrid-filter.filter.form-group.col-xs-12.col-sm-6.col-lg-4
        %label= t('.family_name')
        = text_field_tag :family_name, params[:family_name], class: 'form-control'
      .datagrid-filter.filter.form-group.col-xs-12.col-sm-6.col-lg-4
        %label= t('.local_given_name')
        = text_field_tag :local_given_name, params[:local_given_name], class: 'form-control'
      .datagrid-filter.filter.form-group.col-xs-12.col-sm-6.col-lg-4
        %label= t('.local_family_name')
        = text_field_tag :local_family_name, params[:local_family_name], class: 'form-control'
      .datagrid-filter.filter.form-group.col-xs-12.col-sm-6.col-lg-4
        %label= t('.gender')
        = select_tag :gender, options_for_select([['Male', 'male'], ['Female', 'female']], selected: params[:gender]), class: 'form-control', include_blank: ''
      .datagrid-filter.filter.form-group.col-xs-12.col-sm-6.col-lg-4
        %label= t('.slug')
        = text_field_tag :id, params[:id], class: 'form-control'
      -# .datagrid-filter.filter.form-group.col-xs-12.col-sm-6.col-lg-4
      -#   %label Status
      -#   = select_tag :status, options_for_select(Client::CLIENT_STATUSES, selected: params[:status]), class: 'form-control', include_blank: ''
      -# .datagrid-filter.filter.form-group.col-xs-12.col-sm-6.col-lg-4
      -#   %label Case worker
      -#   = select_tag :case_workers, options_for_select(case_worker_options(@client_case_workers), selected: params[:case_workers]), class: 'form-control', include_blank: '', multiple: true
    .row
      .col-xs-12
        = submit_tag t('.search'), name: nil, class: 'btn btn-primary'
        = link_to t('.reset'), clients_path, class: 'btn btn-default'
