- clients.each do |client|
  - Organization.switch_to(client.slug.split('-').first)
  %tr{ 'data-href' => client_path(client) }
    %td= client.age_as_years
    %td= client.gender.try(&:titleize)
    %td= client.status
    %td= client.province_name
    %td= client.district_name
