- clients.each do |client_hash|
  - client = client_hash[:client]
  %tr
    %td= client.slug
    %td= client.display_age
    %td= client.gender.try(&:titleize)
    %td= client.status
    %td= client.birth_province_name
    %td= client.province_name
    %td= client.district_name
    %td= client_hash[:referral_source_category]
    %td= client_hash[:reason_for_family_separation]
    %td= client_hash[:history_of_harm]
    %td= client_hash[:history_of_disability_and_or_illness]
    %td= client_hash[:history_of_high_risk_behaviours]
    %td= client_hash[:carer_relationship_to_client]
    %td= client_hash[:assessment_date]
    %td.text-center
      = client_hash[:enrollment_count]
    %td.text-center
      .tooltip-demo.text-center
        = link_to '#!', {'data-container' => 'body', 'data-content' => "<div>#{all_csi_assessment_lists(client_hash[:scores])}</div>", 'data-original-title' => t('datagrid.columns.clients.total'), 'data-placement' => 'top', 'data-toggle' => 'popover', title: '', type: 'button', 'data-html' => 'true' } do
          %span.btn.btn-info.btn-xs
            = "#{t('datagrid.columns.clients.total')}:"
            = client_hash[:assessment_count]
    = domain_cell_data(client_hash[:domain_scores])
    %td= client_hash[:current_services]
    %td= client_hash[:past_services]
    %td= client_hash[:exit_circumstance]
    %td= client_hash[:exit_reasons]

- Organization.switch_to('public')
