- clients.each do |client|
  - url = encrypted_consumer_key(client.slug)
  %tr{"data-href" => "/clients/#{url}"}
    %td= client.display_age
    %td= client.gender.try(&:titleize)
    %td= client.status
    %td.text-center
      = client.enrollment_count
    %td= client.province_name
    %td= client.district_name

-# = render 'csi_scores'

- Organization.switch_to('public')
