- clients.each do |client|
  %tr
    %td= client.age_as_years
    %td= client.gender.try(&:titleize)
    %td= client.status
    %td.text-center
      = client.enrollment_count
    %td= client.province_name
    %td= client.district_name
- Organization.switch_to('public')
