.row
  .col-xs-12
    .row
      .col-md-6
        %table.table.small.m-b-xs
          %tbody
            %tr
              %td
                = t('.status')
                %strong= @client.status
              %td
                = t('.district')
                %strong= @client.district_name
            %tr
              %td
                = "#{t('.age')} : "
                %strong= @client.age
              %td
                = "#{t('.current_province')} : "
                %strong= @client.current_province

.row.mini-margin
  .col-xs-12
    .ibox
      .ibox-title
        %h5= t('.about_client')
      .ibox-content
        .row
          .col-sm-12.col-md-6.first-table
            %table.table.table-bordered
              %tr
                %td.spacing-first-col
                  = t('.age')
                %td
                  %strong
                    = @client.age_as_years
              %tr
                %td.spacing-first-col
                  = t('.gender')
                %td
                  %strong
                    = @client.gender.try(&:titleize)
              %tr
                %td.spacing-first-col
                  = t('.address')
                %td
                  %strong
                    = merged_address(@client)
          .col-sm-12.col-md-6.second-table
            %table.table.table-bordered
              %tr
                %td.spacing-first-col
                  = t('.number_active_program')
                %td
                  %strong
                    = @client.client_enrollments.count
              %tr
                %td.spacing-first-col
                  = t('.all_csi_assessments')
                %td
                  %strong
                    = @client.assessments.count
              %tr
                %td.spacing-first-col
                  &nbsp;
                %td
                  &nbsp;


- Organization.switch_to('public')
