%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          .image-wrapper.text-center
            = image_tag 'logo_for_OSCaR.png', class: 'img-circle logo-style'
          %hr.line-border
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.text-muted.text-xs.block
                = current_user.name
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              = link_to t('.edit_profile'), edit_user_registration_path
            %li.divider
            %li
              = link_to t('.logout'), destroy_user_session_path, method: :delete
        .logo-element
          = image_tag 'logo_for_OSCaR.png', class: 'log-min img-responsive'
      %li{ class: is_active_controller('dashboard') }
        = link_to root_path do
          = fa_icon('th-large')
          %span.nav-label= t('.dashboard')
      - if policy(current_user).index?
        %li{ class: is_active_controller('users') }
          = link_to users_path do
            = fa_icon('address-book-o')
            %span.nav-label= t('.users')
            %span.label.label-primary.pull-right= @user_count