!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OSCaR Learning
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body{id: "#{controller_name}-#{params[:action]}", class: "pace-done #{authorized_body}"}
    - if user_signed_in?
      #wrapper{ data: flash_alert }
        = render 'layouts/side_menu'
        #page-wrapper.gray-bg
          = render 'layouts/top_navbar'
          .min-margin-layout
            = yield
    - else
      #wrapper{ data: flash_alert }
      = render 'layouts/top_navbar'
      = yield

    = javascript_include_tag 'application'
